@model App.Models.ViewModels.EmpleadoViewModel
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top:50px;">@ViewBag.Title</h2>

@using (Html.BeginForm("Editar", "Empleado", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    @Html.ValidationSummary(true)
    @Html.HiddenFor(d => d.EmpleadoId)

    <div class="form-group">
        @Html.LabelFor(d => d.Rut, htmlAttributes: new { @class = "form-label" })
        @Html.TextBoxFor(d => d.Rut, "", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.Rut, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(d => d.Nombres, htmlAttributes: new { @class = "form-label" })
        @Html.TextBoxFor(d => d.Nombres, "", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.Nombres, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(d => d.Apellidos, htmlAttributes: new { @class = "form-label" })
        @Html.TextBoxFor(d => d.Apellidos, "", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.Apellidos, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(d => d.Genero, htmlAttributes: new { @class = "form-label" })
        @Html.TextBoxFor(d => d.Genero, "", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.Genero, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(d => d.FechaNacimiento, htmlAttributes: new { @class = "form-label" })
        @Html.TextBoxFor(d => d.FechaNacimiento, "", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.FechaNacimiento, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(d => d.Direccion, htmlAttributes: new { @class = "form-label" })
        @Html.TextBoxFor(d => d.Direccion, "", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.Direccion, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(d => d.Telefono, htmlAttributes: new { @class = "form-label" })
        @Html.TextBoxFor(d => d.Telefono, "", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.Telefono, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(d => d.Profesion, htmlAttributes: new { @class = "form-label" })
        @Html.TextBoxFor(d => d.Profesion, "", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.Profesion, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(d => d.Email, htmlAttributes: new { @class = "form-label" })
        @Html.TextBoxFor(d => d.Email, "", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(d => d.CargasFamiliares, htmlAttributes: new { @class = "form-label" })
        @Html.TextBoxFor(d => d.CargasFamiliares, "", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.CargasFamiliares, "", new { @class = "text-danger" })
    </div>

    <div class="form-group" style="text-align:initial;">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>

    @*<div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(d => d.ImagePath,htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <img src="@Url.Content(Model.ImagePath)" style="margin:10px" height="200" width="200" id="imagePreview" />
                    <input type="file" name="ImageUpload" accept="image/jpeg, image/png" onchange="ShowImagePreview(this,document.getElementById('imagePreview'))" />
                </div>
            </div>
        </div>*@

</div>
}

