@model App.Models.ViewModels.ContratoViewModel
@{
    ViewBag.Title = "Editar Contrato";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> cboTipoHora = (List<SelectListItem>)ViewBag.ValorHora;
    List<SelectListItem> cboAfp = (List<SelectListItem>)ViewBag.cboAfo;
    List<SelectListItem> cboBonificacion = (List<SelectListItem>)ViewBag.cboBonificacion;
    List<SelectListItem> cboSalud = (List<SelectListItem>)ViewBag.cboSalud;
}

<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>

    <h2 style="text-align:center; margin-top:50px;">@ViewBag.Title </h2>

    @using (Html.BeginForm("Crear", "Contrato", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <br /><hr />
        <div class="container">
            <form action="~/Controllers/" method="post">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(d => d.ContratoId, htmlAttributes: new { @class = "form-label" })
                        @Html.TextBoxFor(d => d.ContratoId, "", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(d => d.ContratoId, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(d => d.RutEmpleado, htmlAttributes: new { @class = "form-label" })
                        @Html.TextBoxFor(d => d.RutEmpleado, "", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(d => d.RutEmpleado, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(d => d.FechaCreacion, htmlAttributes: new { @class = "form-label" })
                        @Html.TextBoxFor(d => d.FechaCreacion, "{0:MM/dd/yyyy}", new { type = "date", @class = "form-control" })
                        @Html.ValidationMessageFor(d => d.FechaCreacion, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row col-md-12 justify-content-center  ">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(d => d.FechaInicio, htmlAttributes: new { @class = "form-label" })
                        @Html.TextBoxFor(d => d.FechaInicio, "{0:MM/dd/yyyy}", new { type = "date", @class = "form-control" })
                        @Html.ValidationMessageFor(d => d.FechaInicio, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(d => d.FechaTermino, htmlAttributes: new { @class = "form-label" })
                        @Html.TextBoxFor(d => d.FechaTermino, "{0:MM/dd/yyyy}", new { type = "date", @class = "form-control" })
                        @Html.ValidationMessageFor(d => d.FechaTermino, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="row col-md-12">
                    <div class="primero col-md-6" style=" display:block; border-right:1px solid gray;">
                        <h3 style="text-align:center;">Haberes</h3>
                        <br />
                        <div class="form-group col-md-4 " style=" float: left">
                            @Html.LabelFor(d => d.NumeroHoras, htmlAttributes: new { @class = "form-label" })
                            @Html.TextBoxFor(d => d.NumeroHoras, " ", new { @class = "form-control" })
                            @Html.ValidationMessageFor(d => d.NumeroHoras, "", new { @class = "text-danger" })
                        </div>


                        <div class="form-group col-md-6" style="  float: right">
                            @Html.LabelFor(d => d.TipoHora, htmlAttributes: new { @class = "form-label" })
                            @Html.DropDownList("cboTipoHora", cboTipoHora, "Seleccione", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(d => d.TipoHora, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-6" style="  float: left">
                            @Html.LabelFor(d => d.BonificacionId, htmlAttributes: new { @class = "form-label" })
                            @Html.DropDownList("cboBonificacion", cboBonificacion, "Seleccione", htmlAttributes: new { @class = "form-control", @id = "cboBonificacion" })
                            @Html.ValidationMessageFor(d => d.BonificacionId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4" style="float:left;">
                            @Html.LabelFor(d => d.ValorBonificacion, htmlAttributes: new { @class = "form-label" })
                            @Html.TextBoxFor(d => d.ValorBonificacion, "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(d => d.ValorBonificacion, "", new { @class = "text-danger" })
                        </div>

                        <h3 style="text-align:center;">Indemnización</h3>
                        <div class="form-group col-md-4" style="float:left;">
                            @Html.LabelFor(d => d.Indemnizacion, htmlAttributes: new { @class = "form-label" })
                            @Html.TextBoxFor(d => d.Indemnizacion, "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(d => d.Indemnizacion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6" style="display:block">
                        <h3 style="text-align:center;">Descuentos</h3>
                        <br />
                        <div class="form-group col-md-6" style="float: left">
                            <label for="selectAfp">AFP</label>
                            @Html.LabelFor(d => d.AfpId, htmlAttributes: new { @class = "form-label" })
                            @Html.DropDownList("cboAfp", cboAfp, "Seleccione", new { @class = "form-control" })
                            @Html.ValidationMessageFor(d => d.AfpId, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4" style="float: right">
                            @Html.LabelFor(d => d.ValorAfp, htmlAttributes: new { @class = "form-label" })
                            @Html.TextBoxFor(d => d.ValorAfp, "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(d => d.ValorAfp, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-6" style="float: left">
                            @Html.LabelFor(d => d.SaludId, htmlAttributes: new { @class = "form-label" })
                            @Html.DropDownList("cboSalud", cboSalud, "Seleccione", new { @class = "form-control" })
                            @Html.ValidationMessageFor(d => d.SaludId, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4" style="float: right">

                            @Html.LabelFor(d => d.ValorSalud, htmlAttributes: new { @class = "form-label" })
                            @Html.TextBoxFor(d => d.ValorSalud, "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(d => d.ValorSalud, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-6" style="float: left">
                            @Html.LabelFor(d => d.Otro, htmlAttributes: new { @class = "form-label" })
                            @Html.TextBoxFor(d => d.Otro, "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(d => d.Otro, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4" style="float: right">
                            @Html.LabelFor(d => d.ValorOtro, htmlAttributes: new { @class = "form-label" })
                            @Html.TextBoxFor(d => d.ValorOtro, "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(d => d.ValorOtro, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <hr />
                <h3 style="text-align:center">Detalle</h3>
                <br />
                <div class="row col-md-12 ">
                    <br />
                    <div class="container col-md-12">
                        <div class="form-group col-md-3" style="float: left">
                            @Html.LabelFor(d => d.TotalHaberes, htmlAttributes: new { @class = "form-label" })
                            @Html.TextBoxFor(d => d.TotalHaberes, "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(d => d.TotalHaberes, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-3" style="float: left">
                            @Html.LabelFor(d => d.SueldoBruto, htmlAttributes: new { @class = "form-label" })
                            @Html.TextBoxFor(d => d.SueldoBruto, "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(d => d.SueldoBruto, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-3" style="float: left">
                            @Html.LabelFor(d => d.TotalDescuentos, htmlAttributes: new { @class = "form-label" })
                            @Html.TextBoxFor(d => d.TotalDescuentos, "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(d => d.TotalDescuentos, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-3" style="float: left">
                            @Html.LabelFor(d => d.SueldoLiquido, htmlAttributes: new { @class = "form-label" })
                            @Html.TextBoxFor(d => d.SueldoLiquido, "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(d => d.SueldoLiquido, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="row" style="justify-content:center">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>

            </form>

        </div>
    }
</body>

