@model List<App.Models.ViewModels.ListEmpleadosViewModel>
@{
    ViewBag.Title = "Empleados";
}

<h2 style="margin-top:50px;">@ViewBag.Title</h2>

<a href="~/Empleado/Crear" class="btn btn-primary" style="margin-left:20px; margin-bottom:20px; margin-top:10px;">Crear Empleado</a>

<table class="table table-striped" id="empleadoTable">
    <thead>
        <tr>
            <th>Rut</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Genero</th>
            <th>Fecha Nacimiento</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Profesion</th>
            <th>Email</th>
            <th>Cargas</th>
            <th></th>
        </tr>
    </thead>
    <thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Rut</td>
                <td>@item.Nombres</td>
                <td>@item.Apellidos</td>
                @if (item.Genero == "M")
                {
                    <td><span>Masculino</span></td>
                }
                else
                {
                    <td><span>Femenino</span></td>
                }
                <td>@item.FechaNacimiento</td>
                <td>@item.Direccion</td>
                <td>@item.Telefono</td>
                <td>@item.Profesion</td>
                <td>@item.Email</td>
                <td>@item.CargasFamiliares</td>
                <td>
                    <a class="btn btn-outline-primary" href="~/Empleado/Editar/@item.EmpleadoId" style="width:82px; margin-bottom:5px">Editar</a>
                    <a class="btn btn-outline-danger" href="~/Empleado/Eliminar/@item.EmpleadoId">Eliminar</a>
                </td>
            </tr>
        }
    </thead>
</table>

<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.dataTables.min.js"></script>

    <script>
        function activatejQueryTable() {
            $("#empleadoTable").DataTable();

        }

        $(function () {
            activatejQueryTable();
        });
    </script>
}
